<div class="group">
	<input 
		name="{{ name }}"
		type="{{ type }}" 
		autocomplete="{{ autocomplete }}" 
		required="{{ required }}"
	>
	<span class="highlight"></span>
	<span class="bar"></span>
	<label>{{label}}</label>
	<span class="material-icons input-icon">{{icon}}</span>
</div>
